# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries we don’t want to ship
windows-agent/cmd/ubuntu-pro-agent/ubuntu-pro-agent

# Dependency directories (remove the comment below to include it)
**/vendor/

# Debian package build artifacts
wsl-pro-service/version
wsl-pro-service_*
wsl-pro-service*.ddeb
wsl-pro-service/_build
wsl-pro-service/debian/*debhelper*
wsl-pro-service/debian/*.substvars
wsl-pro-service/debian/files
wsl-pro-service/debian/wsl-pro-service

# Localization
*.mo

# Visual Studio and CMake
.vs/
out/

# Visual Studio Code
.vscode/

# Unnecessary lock files
/go.work.sum
