<!-- Include start virtualisation requirements -->

:::{dropdown} Virtualisation requirements when using WSL
:icon: device-desktop

**Virtualisation** needs to be enabled. Many Windows devices already meet this
requirement, but if your machine does not then you need to modify the UEFI (or
BIOS).

**Virtual Machine Platform** must be turned on. Running `wsl --install` will
attempt to do this, but a reboot is required for the change to apply. 

> Refer to [Microsoft's guide on enabling virtualisation on Windows](https://support.microsoft.com/en-us/windows/enable-virtualization-on-windows-c5578302-6e43-4b4b-a449-8ced115f58e1)
for more information on enabling virtualisation and the Virtual Machine Platform.

**Running WSL in a virtual machine** is possible but nested virtualisation must
be enabled. We do not recommend following this tutorial in a Windows VM.

> More information on running WSL in a VM is provided in [Microsoft's FAQ](https://learn.microsoft.com/en-us/windows/wsl/faq#can-i-run-wsl-2-in-a-virtual-machine-).
:::

<!-- Include end virtualisation requirements -->
