[Unit]
Description=Bridge to Ubuntu Pro agent on Windows
ConditionVirtualization=wsl

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/bash -c 'grep -z "WSL2_DISTRO_NAME" /proc/2/environ | tr "\\0" "\\n" > /run/wsl_distro.env'
EnvironmentFile=-/run/wsl_distro.env
ExecStart=/usr/libexec/wsl-pro-service
Restart=always
RestartSec=20min

# Some daemon restrictions
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=true
PrivateDevices=yes
PrivateMounts=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

# Only permit system calls used by common system services, excluding any special purpose calls
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
