[Unit]
Description=Bridge to Ubuntu Pro agent on Windows
ConditionVirtualization=wsl

[Service]
Type=notify
ExecStart=/usr/libexec/wsl-pro-service -vv
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
