name: Check if CLA is signed
on:
  pull_request_target:

jobs:
  cla-check:
    name: Check if CLA is signed
    if: contains(fromJson('["weblate"]'), github.event.pull_request.user.login) == false
    runs-on: ubuntu-latest
    steps:
      - name: Check if CLA signed
        uses: canonical/has-signed-canonical-cla@v2
        with:
          accept-existing-contributors: true
