name: Translation Lint
on:
  workflow_dispatch:
  pull_request:
    # paths:
    #   - "gui/packages/ubuntupro/lib/l10n/*"
  push:
    branches: [main]

jobs:
  translation-lint:
    name: translation-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # - name: Get changed files
      #   id: changed-files
      #   uses: tj-actions/changed-files@2f7c5bfce28377bc069a65ba478de0a74aa0ca32 # v46
      #   with:
      #     separator: ","
      - name: Translation lint
        uses: ashuntu/translation-linter@main
        with:
          file-mask: "app_(.*)\\.arb"
          translation-dir: "gui/packages/ubuntupro/lib/l10n"
          template: "gui/packages/ubuntupro/lib/l10n/app_en.arb"
          # files: ${{ steps.changed-files.outputs.all_changed_files }}
